
 /* .navbar-fixed {
  position: absolute;
  opacity: 0.75;
  z-index:999999999; */
/* }


.navbar-fixed a {
  color: black;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
} */

/* .side-nav a {
  color: black;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}  */





 .overlay {
  background:rgba(28, 209, 241, 0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */

}

.overlay h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  color:#1197A6;
  text-rendering: optimizeLegibility;

}

#overlay-imgs {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:250px 0px 0px 0px;

} 

#overlay-imgs img{
margin:0px 20px;

}

video {
  margin-left: auto;
  margin-right: auto;
  display: block;
	padding-bottom: 20px;
	height: 100%;
  width:100%;
  margin-bottom: 100px;
}

#portfolio h2, #aboutMe h2{
font-family: 'Permanent Marker', cursive;
font-size: 40px;
text-align: center;
}


.carousel-div {
 
  background-color: turquoise;
  position: relative;
  width: 100%;
  height: 800px;
  margin: auto;
  }

  .carousel-div img {
    width: 475px;
    height: 300px;
    margin-left: 190px;
    margin-top: 65px;

  }



  .section no-pad-bot{
    width: 100%;
    font-family: Arial;
    font-size: 25px;
  }

   p{
    font-family: Arial;
    font-size: 20px;
  
  }

ul {
  list-style-type: none;
}